<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus commodi officiis iusto rem recusandae porro, veniam vel error soluta necessitatibus. Cum autem accusamus repudiandae et vero molestias deserunt voluptatibus quod!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus commodi officiis iusto rem recusandae porro, veniam vel error soluta necessitatibus. Cum autem accusamus repudiandae et vero molestias deserunt voluptatibus quod!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus commodi officiis iusto rem recusandae porro, veniam vel error soluta necessitatibus. Cum autem accusamus repudiandae et vero molestias deserunt voluptatibus quod!</p>
    </div>
    
    
    <%- include("./partials/footer.ejs") %>

</body>
</html>